*{
    magin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif;
    padding: 90px 20px 0;
    
}

.header{
    background-color: #dcdcdc;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
     
}



.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;
}

.nav-menu-link:hover{
    background-color: #FA8072;
    transform: 0.5s;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 4px;
    
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}

.contenido {
    background-color: wheat;
    position: fixed;
    top: 80px;
    bottom: 20px;
    left: 0;
    width: 100%;
    overflow: auto;
}

button{
  border-radius: 10px;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #007FFF;
  margin:10px;
}
