<!DOCTYPE html>
<html>
    <head>
        <title>Play&Learn</title>
        <meta charset="UTF-8">
    <div>¡Bienvenido!</div>
    <div>Únete a una aventura monstruosa de jugar y aprender a la vez</div>
    <div> No te arrenpentirás</div>
<link href="css/menu.css" rel="stylesheet" type="text/css"/>
    
<header class="header">  <!-- Etiqueta para ofrecerle al browser info de que es un encabezado -->
            <nav class="nav"> <!-- esta etiqueta es para ilustrarle al browser que posiblemente es un menú -->
                <a href="index.html" class="logo nav-link"style="color: #d03588">Play&Learn</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href=""style="color: black">&LeftTriangleBar;</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href=""style="color: black">&RightTriangleBar;</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link " href="" style="color: red"> Aprender</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href=""style="color: orange">Medallas</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href=""style="color: yellow">Perfil</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href=""style="color:green">Configuraciones</a></li>
                </ul>
            </nav>
        </header>
</head>
<body>
    <div></div>
</body>
</html>
