<!DOCTYPE html>
<html>
    <head>
        <title>Numeros</title>
        <meta charset="UTF-8">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <a href='geometricas.html'></a>
        <a href='Index.html'></a>
        <a href='colores.html'></a>
        <a href='vocales.html'></a>
        <a href='letras.html'></a><br>
        <h1>Aprendamos los números</h1>
        <img src="Images/Marmota.jpg" alt="imagen de una marmota" width='100'/>
    </body>
</html>
